{% extends "base.html" %}
{% load static %}
{% block title %}
    About Me
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "main_app/about.css" %}"
{% endblock %}

{% block content %}
    <div id="about-me">
        <div class="text-container">
            <p><h1>Hi, I'm Yura</h1><br>Currently I am a student and getting my bachelor's degree as a Computer Engineer.<br>
            Passionate about web development I want to make people's lives a little bit better and easier.<br>
            Willing to launch my engineering career in a place full of high-quality experts, to be able to constantly improve
            my professional competencies and be a perfect addition to the team.</p>
        </div>
        <div class="image-container">
            <img src="{% static "main_app/images/me.jpg"%}">
        </div>
    </div>
{% endblock %}
