{% extends "base.html" %}
{% load static %}
{% block title %}
    Saved Posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "main_app/read-later.css" %}"
{% endblock %}

{% block content %}
    <section id="stored-posts">
        {% if not has_posts %}
            <p>You Have No Saved Posts</p>
        {% endif %}
        <ul>
            {% for post in posts %}
            <li><a href="{% url "single-post" post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
