{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <div>
            <h1><a href="{% url "starting-page" %}">Yura's Blog</a></h1>
        </div>
        <div class="about-div">
            <h2><a href="{% url "about" %}">About</a></h2>
        </div>
        <nav>
            <a href="{% url "read-later" %}">Saved Posts</a>
            <a href="{% url "all-posts"%}">All Posts</a>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <p class="user-name">Hi, {{ user.username }}</p>
                <a class="login-logout" href="{% url "logout" %}">Logout</a>
            {% else %}
                <a class="login-logout" href="{% provider_login_url "google" %}">Login with Google</a>
            {% endif %}

        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <h2>Contact information</h2>
        <ul>
            <li><a href="mailto:yura.gavriley@gmail.com"><img src="{% static "icons/gmail.svg" %}"></a></li>
            <li><a href="https://github.com/YuraGavriley"><img src="{% static "icons/github.svg" %}"></a></li>
            <li><a href="https://linkedin.com/in/yurii-stopchytskyi"><img src="{% static "icons/linkedin.svg" %}"></a></li>
        </ul>
    </footer>

</body>
</html>
